In [ ]:
#Q1
my_name = "Philip Worrall"
print("the type assigned to my name is ", type(my_name))

print("my initials are", my_name.split()[0][0], my_name.split()[1][0])

the type assigned to my name is  <class 'str'>
my initials are P W

In [ ]:
#Q2
square = 11.0 * 10.0
path = 3.0 * 10
pond = 3.14 * 0.75 ** 2.0
area = square - path - pond
print("the grassed area is ", area)

cost = 0.75 * area
print("the total cost is £", cost)

if cost < 100:
  cost = cost + 10.0

print("the total cost (rounded up) is £", round(cost,2))

the grassed area is  78.23375
the total cost is £ 58.675312500000004
the total cost (rounded up) is £ 68.68

In [ ]:
#Q3
tweets = []
tweets.append("I love #coffee. Buy it #organic, grind your own beans, use unbleached filters. Coffee drinker or not?")
tweets.append("Looking for a healthy, simple, and natural alternative for #coffee creamer? Compare to Coffee Mate")
tweets.append("#Coffee & sun for a leisurely start today")
tweets.append("Drink coffee: Do stupid things faster and with more energy")
tweets.append("#Coffee Anyone? Our Coffee Corner knows just how to start your day!")

for tweet in tweets:
  n_occur = 0
  for word in tweet.split():
    if word.lower() in ["coffee", "#coffee"]:
      n_occur = n_occur + 1
  print(tweet, len(tweet), n_occur)

I love #coffee. Buy it #organic, grind your own beans, use unbleached filters. Coffee drinker or not? 101 1
Looking for a healthy, simple, and natural alternative for #coffee creamer? Compare to Coffee Mate 98 2
#Coffee & sun for a leisurely start today 41 1
Drink coffee: Do stupid things faster and with more energy 58 0
#Coffee Anyone? Our Coffee Corner knows just how to start your day! 67 2

In [ ]:
#Q4
tweets = {}

tweets["user1"] = ["tweet number 1", "tweet number 2"]
tweets["user2"] = ["tweet number 3"]
tweets["user3"] = ["tweet number 4", "tweet number 5", "tweet number 6"]

for k in tweets.keys():
  words = 0
  for tweet in tweets[k]:
    words = words + len(tweet.split())
  print("user:",k, ", # tweets", len(tweets[k]), ", # words", words)

user: user1 , # tweets 2 , # words 6
user: user2 , # tweets 1 , # words 3
user: user3 , # tweets 3 , # words 9